__pycache__/
*.py[cod]
.ipynb_checkpoints/
.idea
venv/
airflow-venv/

services/airflow/airflow.db
services/airflow/airflow.cfg
services/airflow/webserver_config.py
services/airflow/*.pid
services/airflow/standalone_admin_password.txt
services/airflow/logs/*
!services/airflow/logs/.gitkeep

mlruns/
mlflow.db
mlartifacts/
.DS_Store